@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Library</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Getting started
        </h2>
        <p>
            Create an account, search for albums, and add them to your collection
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Album")">
                Browse &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Contribute
        </h2>
        <p>
            Add information about new albums to help grow the database
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Create", "Album")">
                Add an album &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Make a wishlist
        </h2>
        <p>
            Tag albums you are searching for
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Album")">
                Search &raquo;
            </a>
        </p>
    </div>
</div>